/* Светлая тема */
:root {
    --p-primary-color: #293397;
    --p-primary-hover-color: #1f2773;
    --p-primary-active-color: #161b50;

    --p-secondary-color: #7c3aed;
    --p-secondary-hover-color: #6d28d9;

    --p-surface-0: #ffffff;
    --p-surface-50: #f9fafb;
    --p-surface-100: #f3f4f6;

    --p-text-color: #111827;
    --p-text-muted-color: #6b7280;

    --p-button-primary-active-color: #ffffff;
    --p-button-primary-hover-color: #ffffff;

    --p-success-color: #10b981;
    --p-warning-color: #f59e0b;
    --p-danger-color: #ef4444;

    --p-inputtext-hover-border-color: #293397;

    --p-select-hover-border-color: #293397;
    --p-select-option-selected-background: #2563eb;
    --p-select-option-selected-focus-background: #1d4ed8;
    --p-select-option-selected-color: #ffffff;
    --p-select-option-selected-focus-color: #ffffff;
}

/* Тёмная тема */
:root[class*="dark"] {
    --p-primary-color: #293397;
    --p-primary-hover-color: #1f2773;
    --p-primary-active-color: #161b50;

    --p-secondary-color: #a78bfa;
    --p-secondary-hover-color: #8b5cf6;

    --p-surface-0: #0f172a;
    --p-surface-50: #1e293b;
    --p-surface-100: #334155;

    --p-text-color: #f3f4f6;
    --p-text-muted-color: #9ca3af;

    --p-button-primary-hover-color: #ffffff;
    --p-button-primary-active-color: #ffffff;

    --p-success-color: #34d399;
    --p-warning-color: #fbbf24;
    --p-danger-color: #f87171;

    --p-inputtext-background: #1A1D3C;
    --p-inputtext-border-color: #0C0F2C;

    --p-select-background: #1A1D3C;
    --p-select-border-color: #0C0F2C;
    --p-select-hover-border-color: #293397;
    --p-select-overlay-background: #0C0F2C;
    --p-select-option-selected-background: #293397;
    --p-select-option-selected-focus-background: #1f2773;
    --p-select-option-focus-background: #ffffff10;
    --p-select-option-selected-color: #ffffff;
    --p-select-option-selected-focus-color: #ffffff;
    --p-select-option-focus-color: #ffffff;
}
